$map-background: #081217; // tilelayer background color

@import 'settings/__settings';
@import 'util/__util';
@import 'components/__components';
@import 'pages/__pages';

* {
  box-sizing: border-box;
}
html {
  height: 100%;
}

.col-styling {
  background-color: rgb(46, 49, 46);
  border: solid 2px rgb(60, 61, 60);
}

body {
  min-height: 100%;
  background-color: rgb(20, 17, 17);
  font-family: $font-default;
  margin: 0px 30px 0px 30px;
}

.wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

main {
  padding: 2em 0;
}

.no-left-padding {
  padding-left: 0;
}
