$map-background: #081217; // tilelayer background color

@import 'settings/__settings';
@import 'util/__util';
@import 'components/__components';
@import 'pages/__pages';

* {
  box-sizing: border-box;
}

// .col {
//   background-color: #181e27;
//   margin: 3px;
// }

body {
  background-color: black;
  font-family: $font-default;
  margin: 15px;
}

.wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

main {
  padding: 2em 0;
}
